@charset "UTF-8";
/* CSS Document */

nav {
	float: right;
	padding-right: 20px;	
}

body {
	max-width: 1024px;
	margin-left: auto;
	margin-right: auto;
	font-family: arial;
}

nav ul li {
	list-style-type: none;
	padding-left: 20px;
	text-align: right;
}

nav ul li a {
	text-decoration: none;
	color: #2BA273;
}

.hero-box {
	height: 338px;
	background-color: #FF00D7;
	background-image: url(images/hero-image.jpg);
	background-size: cover;
	margin: 1%;
}

h1 {
	color: #FEFEFE;	
	font-size: 55px;
	padding-top: 120px;
	padding-left: 60px;
}

.col img {
	width: 100%;
	height: auto;
	display: block;
}

.col {
	width: 31.3%;
	float: left;
	margin: 1%;
}


/*TABLET*/
@media (max-width:768px){
	h1 {
		font-size: 40px;
		text-align: center;
		padding-left: 0px;
	}
	
	.col {
		width: 48%;
	}
}


/*MOBILE*/
@media (max-width:400px){
	h1 {
		font-size: 28px;
	}
	.col {
		width: 98%;
	}
	.hidden-xs {
		display: none;
	}
}


